{% extends "base.html" %}

{% block titleBlock %}
    RentoFortuneRecordLeaderboard
{% endblock %}
{% block contentBlock %}
    <div>
        <table>
            <tr>
                <th>name</th>
                <th>score</th>
                <th>win</th>
                <th>total</th>
            </tr>
            <tr>
                <td>元元</td>
                <td>20</td>
                <td>6</td>
                <td>10</td>
            </tr>
            <tr>
                <td>春春</td>
                <td>19</td>
                <td>5</td>
                <td>8</td>
            </tr>
        </table>
    </div>
{% endblock %}